body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.addBook {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input input {
  border: solid 2px #000;
}

.addBook form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 75%;
}

.addBook .add {
  display: flex;
  justify-content: flex-end;
}

.add button {
  width: 30%;
  background-color: #fff;
  border-radius: 8px;
}
