body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.addBook {
  width: 50%;
}

.addBook form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
