* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 2rem;
}

.header {
  position: fixed;
  width: 100%;
  top: 1rem;
}

.date {
  display: flex;
  justify-content: flex-end;
  margin-inline: 1rem;
  padding-block: 0.4rem;
}

.wrap {
  display: flex;
  justify-content: space-between;
  margin-inline: 1rem;
  padding: 1.2rem 1rem 1.2rem 1.2rem;
  border: 0.1rem solid black;
  background-color: #fff;
}

#logo {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
}

.navul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

#nav2 {
  border-inline: 0.1rem solid black;
  padding-inline: 1rem;
}

.navlink {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 1.1rem;
}

.navlink:hover {
  color: blue;
}

.booklist {
  display: flex;
  flex-direction: column;
  padding: 8rem 0 8rem 0;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.addnew {
  display: none;
  flex-direction: column;
  padding: 10rem 0 0 0;
  align-items: center;
  gap: 4rem;
  width: 75%;
}

.addBook {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#output {
  border: 0.2rem solid black;
  width: 60%;
  max-width: 768px;
  padding: 0.1rem;
}

.div {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0.1rem;
}

.liner {
  margin-top: 1rem;
  border: 1.3px solid black;
  width: 7rem;
}

.background {
  background-color: rgb(141, 141, 141);
}

.input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input input {
  border: solid 2px #000;
}

.addBook form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 75%;
}

.addBook .add {
  display: flex;
  justify-content: flex-end;
}

.add button {
  width: 30%;
  background-color: #fff;
  border-radius: 8px;
}

.contact {
  display: none;
  flex-direction: column;
  padding: 8rem 0 0 0;
  align-items: center;
  gap: 4rem;
}

.contactdiv {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  width: 100%;
}

.contacthead {
  font-size: 1.5rem;
}

.contactpara {
  font-size: 1rem;
  font-weight: bold;
}

.contactul {
  padding-left: 1rem;
}

.contactli {
  font-weight: bold;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 1rem;
}

.footerdiv {
  background-color: #fff;
  margin-inline: 1rem;
  padding: 1.2rem 1rem 1.2rem 1.2rem;
  border: 0.1rem solid black;
}

.footerpara {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: left;
}
